
body {
   --color-black: #191919;
   --color-grey: #707070;
   --color-blue: #11a3c7;
   --color-darkgrey: #545454;
   --color-darkgrey-2: #636363;
   --color-darkgrey-3: #393939;
   --color-yellow: #d47800;
   --color-red: #c91e49;
   --color-green: #008000;
   --color-purple: #663399;
   --color-beige: #af9e87;
}

body {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   color: #636363;
   background-color: #191919;
}

body::-webkit-scrollbar {
   display: none;
}

