:root {
   --black: #191919;
   --grey: #707070;
   --blue: #11a3c7;
   --darkgrey: #545454;
   --darkgrey-2: #636363;
   --darkgrey-3: #393939;
   --yellow: #d47800;
   --red: #c91e49;
   --green: #008000;
   --purple: #663399;
   --beige: #af9e87;
   --beige-2: #947b5a;
}

* {
   scrollbar-width: none;
}

body {
   width: 100%;
   height: 100vh;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   color: var(--darkgrey-2);
   background-color: var(--black);
}

h1 {
   color: var(--purple);
}

h2 {
   color: var(--yellow);
}

h3,h4,h5 {
   color: var(--beige-2);
}

code {
   font-size: 1rem;
   color: var(--green);
   background-color: var(--black);

footer > a {
   width: 100%;
   color: var(--blue);
}

