* {
   scrollbar-width: none;
}

:root {
   --black: #000000;
   --black-2: #191919;
   --grey: #707070;
   --darkgrey: #545454;
   --darkgrey-2: #636363;
   --darkgrey-3: #393939;
   --blue: #11a3c7;
   --green: #008000;
   --purple: #663399;
   --beige: #af9e87;
   --beige-2: #947b5a;
   --yellow: #d47800;
   --red: #c91e49;
   --gruv-bg0: #1d2021;
   --gruv-bg1: #3c3836;
   --gruv-bg2: #504945;
   --gruv-bg4: #7c6f64;
   --gruv-fg0: #fbf1c7;
   --gruv-fg1: #ebdbb2;
   --gruv-fg4: #a89984;
   --gruv-blue: #83a598;
   --gruv-blue-lighter: #a4c6b9; /* 13% lighter than blue above */
   --gruv-green: #b8bb26;
   --gruv-aqua: #8ec07c;
   --gruv-orange: #fe8019;
   --gruv-gray: #928374;
   --gruv-yellow: #fabd2f;
   --gruv-red: #fb4934;
}

body {
   padding: 0;
   margin: 0;
   width: 100%;
   height: 100vh;
   box-sizing: border-box;
   color: var(--gruv-fg4);
   background-color: var(--black-2);
}

h1 {
   color: var(--beige-2);
}

h2 {
   color: var(--gruv-yellow);
}

h3,h4,h5 {
   color: var(--gruv-aqua);
}

code {
   font-size: 1rem;
   color: var(--green);
   background-color: var(--black);
}

footer {
   width: 100%;
   position: fixed;
   left: 0;
   bottom: 0;
   text-align: center;
}

footer > a {
   color: var(--blue);
}

